* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    position: relative;
}
a {
    text-decoration: none;
    color: inherit;
}
.header {
    padding-top: 30px;
}
.container {
    padding: 0px 16px;
    max-width: 1202px;
    margin: 0 auto;
}
.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 54px;
}
.header-logo {
    max-width: 130px;
    max-height: 54px;
}
.header-logo img {
    width: 100%;
    height: 100%;
}
.header-nav {
    display: flex;
    list-style: none;
    gap: 56px;
    align-items: center;
}
.header-nav li {
    color: var(--575757, #575757);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 20.8px */
}
.header-nav li:hover {
    color: #FB9300;
    transition: .1s ease-in;
}
.header-sign {
    width: 130px;
    height: 54px;
    padding: 24px 32px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 100px;
    background: var(--fb-9333, #FB9333);
    color: var(--ffffff, #FFF);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 20.8px */
}




.banner1 {
    position: relative;
    margin-bottom: 30px;
}
.banner1-content {
    height: 750px;
    margin-top: 64px;
}
.banner1-txt {
    max-width: 590px;
    max-height: 709px;
    margin-top: 20.5px;
    margin-bottom: 20.5px;
    margin-right: 16px;
}
.Best-Healthy {
    display: flex;
    width: 213px;
    padding: 16px;
    align-items: center;
    border: none;
    border-radius: 100px;
    margin-bottom: 30px;
    background: #FFF0DC;
    color: var(--fb-9333, #FB9333);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 20.8px */
}
.banner1-ttl  {
    color: var(--575757, #575757);
    font-family: Poppins;
    font-size: 72px;
    font-style: normal;
    margin-bottom: 30px;
    font-weight: 700;
    line-height: 130%; /* 93.6px */
    letter-spacing: -1.44px;
}
.Wild-Strawberry {
    color: var(--fb-9333, #FB9333);
}
.banner1-dscp {
    color: #828282;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    margin-bottom: 30px;
    font-weight: 500;
    line-height: 160%; /* 32px */
    letter-spacing: -0.4px;
    width: 496px;
}
.Order-Food {
    display: flex;
    width: 192px;
    height: 68px;
    border-radius: 100px;
    background: var(--fb-9333, #FB9333);
    padding: 24px 32px;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    color: var(--ffffff, #FFF);
    font-family: Poppins;
    border: none;
    font-size: 18px;
    font-style: normal;
    margin-bottom: 88px;
    font-weight: 600;
    line-height: 130%; /* 23.4px */
}
.Feature-information {
    max-width: 352px;
    max-height: 64px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 52px;
}
.Feature-information .in1 {
    max-width: 85px;
    max-height: 64px;
}
.Feature-information .in1 .nuumber {
    color: var(--575757, #575757);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 38.4px */
}
.Feature-information .in1 .category {
    color: #828282;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%; /* 25.6px */
}
.banner1-cover {
    position: absolute;
    top: 0;
    right: 3%;
    z-index: -1;
}
.glow1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.glow2 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}


.banner2 {
    height: 864px;
    padding: 100px;
}
.why-uss {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 134px;
    height: 134px;
    margin-bottom: 64px;
}
.why-uss .title {
    color: #585858;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    width: 586px;
    font-weight: 600;
    line-height: 140%; /* 67.2px */
    letter-spacing: -0.96px;
}
.why-uss .dscp {
    color: #828282;
    font-family: Poppins;
    font-size: 20px;
    width: 450px;
    margin: 13px 0px;
    font-style: normal;
    font-weight: 500;
    line-height: 180%; /* 36px */
    letter-spacing: -0.4px;
}
.banner2-content .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}
.banner2-content .cards .card {
    padding: 30px;
    max-width: 363px;
    max-height: 467.5px;
    border-radius: 50px;
    border: 1px solid #FFF0DA;
    background: #FFF;
}
.banner2-content .cards .card:hover {
    border-radius: 50px;
    background: var(--ffffff, #FFF);
    box-shadow: 0px 50px 80px -30px rgba(72, 52, 0, 0.2);
}







.banner2-content .cards .card .card-pic {
    max-width: 122.5px;
    max-height: 122.5px;
    margin-bottom: 70px;
}
.banner2-content .cards .card .card-pic img {
    width: 100%;
    height: 100%;
}
.banner2-content .cards .card .cardtxt {
    max-width: 303px;
    max-height: 215px;
}
.banner2-content .cards .card .cardtxt .ttl {
    margin-bottom: 12px;
    color: var(--2-b-2-b-2-b, #2B2B2B);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 180%; /* 43.2px */
    letter-spacing: -0.48px;
}
.banner2-content .cards .card .cardtxt .dscp {
    color: var(--575757, #575757);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%; /* 28.8px */
    letter-spacing: -0.32px;
    margin-bottom: 24px;
}
.banner2-content .cards .card .cardtxt .learn {
    max-width: 142px;
    max-height: 49px;
    padding: 10px;
    display: flex;
}
.banner2-content .cards .card .cardtxt .learn .ttl {
    color: var(--575757, #575757);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    margin-right: 10px;
    font-weight: 400;
    line-height: 180%; /* 28.8px */
    letter-spacing: -0.32px;
}
.banner2-content .cards .card .cardtxt .learn .rt-arr {
    max-width: 24px;
    max-height: 24px;
    margin: 5PX 0px;
}



.banner3-content {
    padding: 100px 0px;
}
.banner3-cover {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}
.banner3-cover .c1 {
    max-width: 363px;
    max-height: 521px;
    position: relative;
}
.c1pic {
    max-width: 363px;
    max-height: 521px;
}
.c1pic img {
    width: 100%;
    height: 100%;
}
.banner3-cover .c1 .txt {
    position: absolute;
    top: 76%;
    left: 11%;
}
.banner3-cover .c1 .txt .name {
    color: var(--ffffff, #FFF);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    margin-bottom: 6px;
    font-weight: 500;
    line-height: 130%; /* 31.2px */
}
.banner3-cover .c1 .txt .prc {
    color: var(--ffffff, #FFF);
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 52px */
}
.banner3-head .dscp {
    color: var(--fb-9333, #FB9333);
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    margin-bottom: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 180%; /* 36px */
    letter-spacing: -0.4px;
}
.banner3-head .ttl {
    color: #585858;
    text-align: center;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    text-align: center;
    font-weight: 600;
    line-height: 140%; /* 67.2px */
    letter-spacing: -0.96px;
}
.banner3-head {
    margin-bottom: 72px;
}


.banner4 {
    padding: 100px 0px;
}
.banner4-content {
    height: 550px;
    border-radius: 50px;
    background: url(./Assets/banner4.png);
    padding-top: 48px;    
    padding-bottom: 96px;
}
.container2 {
    max-width: 700px;
    max-height: 406px;

    margin: 0 auto;

}
.container2 .txt {
    max-width: 655px;
    max-height: 246px;
    margin: 0px 22.5px 0px 22.5px;
}
.container2 .txt .sub {
    color: var(--fb-9333, #FB9333);
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 180%; /* 36px */
    letter-spacing: -0.4px;
}
.container2 .txt .ttl {
    color: #585858;
    text-align: center;
    margin-bottom: 24px;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 67.2px */
    letter-spacing: -0.96px;
}

.container2 .txt .dscp {
    color: var(--575757, #575757);
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%; /* 25.6px */
    letter-spacing: -0.32px;
    opacity: 0.7;
    margin: 0px 96.5px;
}
.sbar {
    display: flex;
    width: 700px;
    height: 80px;
    margin-top: 80px;
    justify-content: space-between;
    align-items: center;
    border-radius: 100px;
    padding: 17.5px 0px 17.5px 31px;
    background: #FFF;
    box-shadow: 0px 8px 20px -30px rgba(151, 109, 0, 0.08);
}
.sbar .txt {
    color: var(--575757, #575757);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 25.2px */
    letter-spacing: -0.36px;
}
.Subscribe {
    width: 170px;
    height: 64px;
    padding: 19.5px 41px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin: 8px 8px 8px 0px;
    align-items: center;
    border: none;
    border-radius: 100px;
    background: var(--fb-9333, #FB9333);
    color: var(--ffffff, #FFF);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 20.8px */
}





























.footer {
    height: 318px; 
    padding: 50px 0px;
}
.footer .container {
    display: flex;
    justify-content: space-between;
}
.about-company .dscp {
    color: var(--ffffff, #575757);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    margin-bottom: 67px;
    font-weight: 400;
    line-height: 24px; /* 150% */
}
.about-company {
    max-width: 212px;
    max-height: 216px;
    
}
.about-company .pic {
    max-width: 124px;
    max-height: 28px;
    margin-bottom: 19px;
}
.about-company .pic img {
    width: 100%;
    height: 100%;
}
.dsc1p {
    color: var(--2-b-2-b-2-b, #2B2B2B);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}
.map .ttl {
    color: var(--fb-9333, #FB9333);
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    margin-bottom: 25px;
    font-weight: 600;
    line-height: 22px; /* 137.5% */
}
.footerline {
    margin-bottom: 25px;
}
ul {
    list-style: none;
}
.topic-set .topic {
    color: var(--ffffff, #575757);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 25px;
    line-height: 24px; /* 100% */
}
.topic-lst {
    color: var(--ffffff, #575757);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 100% */
}



.social-set-txt {
    color: var(--575757, #575757);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    margin-top: 20px;
}
.social-set {
    max-width: 138px;
    max-height: 24px;
    display: flex;
    justify-content: space-between;
    
}
.social-set .pic1 {
    max-width: 26px;
    max-height: 22px;
}
.social-set .pic1 img {
    width: 100%;
    height: 100%;
}
.social-set .pic2 {
    max-width: 24px;
    max-height: 24px;
}
.social-set .pic2 img {
    width: 100%;
    height: 100%;
}
.social-set .pic3 {
    max-width: 24px;
    max-height: 24px;
}
.social-set .pic3 img {
    width: 100%;
    height: 100%;
}

.topic-set .flex {
    display: flex;
    gap: 16px;
    
}
.topic-set .flex .flex-img { 
    max-width: 24px;
    max-height: 24px;
}
.topic-set .flex .flex-img img {
    width: 100%;
    height: 100%;
}